{% extends 'recipes/base.html' %}

{% block content %}

<div class=" bg-info text-white pb-4">

<!--jumbotron-->
    <div class="jumbotron jumbotron-fluid text-white">
      <div class="container text-sm-center pt-5">
        <h1 class="display-2">Lexipe</h1>

         <div class="btn-group mt-4" role="group" aria-label="Callout buttons">
          <!--<a type="button" class="btn btn-primary btn-lg" href="#login">Sign In</a>-->
          <a type="button" class="btn btn-lg btn-secondary" href="/login" >Login</a>
        </div>
      </div>
    </div>
<!--/jumbotron-->
    <div class="container mt-4 text-center bg-info text-white">
            <h1>You Logged Out!</h1>

    </div>

</div>
{% endblock %}