{% extends 'recipes/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body class="bg-info text-white">
<!--Jumbotron-->
        <div class="jumbotron jumbotron-fluid text-white">
          <div class="container text-sm-center pt-5">
            <h1 class="display-2">Welcome To Lexipe</h1>
            <p class="lead">Track your pantry and recipes.</p>
          </div>
        </div>

<!--/jumbotron-->



<!--Registration Form-->

    <div class="container text-center mb-4">

      <h2 class=" display-1 mt-5">Registration Page</h2>
        <div class="form-group mb-3 col-lg-6 mx-auto ">

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {% if form.errors %}
                <p>Errors in the form!</p>
                {% endif %}

                {{ form|crispy }}

                <input type="submit" class="btn btn-primary btn-lg mb-5" value="Register">
            </form>
        </div>
    </div>



<!--/Registration form-->

</body>






{% endblock %}